services:

  beszel:
    image: henrygd/beszel:0.18.2
    restart: unless-stopped
    ports:
      - 8090:8090
    volumes:
      - ${APP_DATA_PATH:?error}/beszel/data:/beszel_data
      - ${APP_DATA_PATH:?error}/beszel/socket:/beszel_socket

  beszel-agent:
    image: henrygd/beszel-agent:0.18.2
    restart: unless-stopped
    network_mode: host
    volumes:
      - ${APP_DATA_PATH:?error}/beszel/socket:/beszel_socket
      - ${HDD_PATH:?error}:/extra-filesystems/sda2:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      LISTEN: /beszel_socket/beszel.sock
      KEY: 'ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPN9rJdkhPwg9zIO8ES2shSn2Xs2GhrIBoUudWtUQklg'

  ddns:
    image: oznu/cloudflare-ddns@sha256:19bd73d8aea9641dc329ec18ae693b2b9c33ff7cdc007f368266ce584446f995
    restart: unless-stopped
    environment:
      API_KEY_FILE: /run/secrets/ddns-api-key
      ZONE: vsevolodganin.com
      SUBDOMAIN: home
      PROXIED: false
    secrets:
      - ddns-api-key

  filebrowser:
    image: filebrowser/filebrowser:v2.56.0
    restart: unless-stopped
    volumes:
      - ${HDD_PATH:?error}:/srv
      - ./filebrowser.json:/config/.settings.json:ro
      - ${APP_DATA_PATH:?error}/filebrowser/database.db:/database/filebrowser.db

  navidrome:
    image: deluan/navidrome:0.59.0
    restart: unless-stopped
    environment:
      ND_CONFIGFILE: /data/navidrome.toml
      ND_LASTFM_APIKEY: ${ND_LASTFM_APIKEY:?error}
      ND_LASTFM_SECRET: ${ND_LASTFM_SECRET:?error}
    volumes:
      - ${APP_DATA_PATH:?error}/navidrome/data:/data
      - ${HDD_PATH:?error}/musick:/music:ro
      - ./navidrome.toml:/data/navidrome.toml:ro

  plex:
    image: plexinc/pms-docker:1.41.6.9685-d301f511a
    restart: unless-stopped
    volumes:
      - ${APP_DATA_PATH:?error}/plex/config:/config
      - ${APP_DATA_PATH:?error}/plex/transcode:/transcode
      - ${HDD_PATH:?error}/movies:/movies
      - ${HDD_PATH:?error}/tvshows:/tvshows
    network_mode: host
    devices:
      - /dev/dri:/dev/dri
  
  qbittorrent:
    image: qbittorrentofficial/qbittorrent-nox:5.1.4-2
    restart: unless-stopped
    environment:
      - QBT_LEGAL_NOTICE=confirm
    read_only: true
    stop_grace_period: 30m
    tmpfs:
      - /tmp
    ports:
      - "13627:13627/tcp"
      - "13627:13627/udp"
    volumes:
      - ${APP_DATA_PATH:?error}/qbittorrent/:/config
      - ${HDD_PATH:?error}/downloads/qbittorrent:/downloads
      - ${HDD_PATH:?error}/movies:/movies
      - ${HDD_PATH:?error}/tvshows:/tvshows
      - ${HDD_PATH:?error}/books:/books

  beets-flask:
    image: pspitzner/beets-flask:v1.2.1
    restart: unless-stopped
    environment:
        USER_ID: 1000
        GROUP_ID: 1000
    volumes:
        - ${APP_DATA_PATH:?error}/beets-flask:/config
        - ${APP_DATA_PATH:?error}/beets/library.db:/config/beets/library.db
        - ./beets.yaml:/config/beets/config.yaml:ro
        - ./beets-flask.yaml:/config/beets-flask/config.yaml:ro
        - ./beets-flask-requirements.txt:/config/requirements.txt:ro
        - ./beets-flask-startup.sh:/config/startup.sh:ro
        - ./beetsplug:/beetsplug:ro
        - ${HDD_PATH:?error}/musick:/music
        - ${HDD_PATH:?error}/downloads:/downloads
    secrets:
      - beets-secret-config

  lidarr:
    image: ghcr.io/linuxserver-labs/prarr:lidarr-plugins-3.1.2.4913
    restart: unless-stopped
    environment:
      PUID: 1000
      PGUID: 1000
    volumes:
      - ${APP_DATA_PATH:?error}/lidarr:/config
      - ${HDD_PATH:?error}/musick:/music:ro
      - ${HDD_PATH:?error}/downloads/lidarr:/downloads

  slskd:
    image: slskd/slskd:0.24.3
    restart: unless-stopped
    ports:
      - "50300:50300"
    environment:
      - SLSKD_REMOTE_CONFIGURATION=true
    volumes:
      - ${APP_DATA_PATH:?error}/slskd:/app
      - ${HDD_PATH:?error}/musick:/music:ro
      - ${HDD_PATH:?error}/downloads/slskd:/app/downloads

  pyload:
    image: lscr.io/linuxserver/pyload-ng@sha256:4290cfcfdb9fa7b002b53f5cdffcc1a116285c9c60aaf7ef6c9739026395cd89
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - ${APP_DATA_PATH:?error}/pyload:/config
      - ${HDD_PATH:?error}/downloads/pyload:/downloads

  caddy:
    image: caddy:2.10.2-alpine
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - ${APP_DATA_PATH:?error}/caddy/data:/data
      - ${APP_DATA_PATH:?error}/caddy/config:/config
    extra_hosts:
      - "host.docker.internal:host-gateway"

secrets:
  ddns-api-key:
    file: ./secrets/ddns/api-key
  beets-secret-config:
    file: ./secrets/beets/secret-config.yaml
